a {
  text-decoration: none;
  color: inherit;
}

table tr th {
  border: 1px solid gray;
}

table td {
  border: 1px solid gray;
}

table {
  border-collapse: collapse;
  text-align: center;
  width: 50%;
}
